body{
    background-color: royalblue;
    background-size: cover;
    background-position: center;
}
.columns{
    grid-auto-flow: column;
    display: grid;
}
.rows{
    grid-auto-flow: row;
    display: grid;
}
.container{
    max-width: 85%;
    max-height: fit-content;
}